.titleProfile {
	padding-top: 2rem;
	font-family: 'Dancing Script', cursive;
	font-size: 5rem;
	text-align: center;
}

.bannerProfile {
	font-family: 'Montserrat', sans-serif;
}

.textInput {
	font-family: 'Montserrat', sans-serif;
}

.background {
	background-image: linear-gradient(#a0d2eb, #e5eaf5, #d0bdf4, #8458b3, #a28089);
	background-repeat: repeat;

	/* background-image: linear-gradient(#e1b382, #c89666, #2d545e, #12343b); */
}

.grid {
	font-family: 'Montserrat', sans-serif;
}

.gridContent {
	text-align: left !important;
	width: 50rem;
}

.reviewHeader {
	text-align: center;
	font-family: 'Dancing Script', cursive;
	font-size: 3rem;
	padding: 2rem 0 2rem 0;
}

.showReviewHeader {
	text-align: center;
	font-family: 'Dancing Script', cursive;
	font-size: 3rem;
	padding-top: 2rem;
}
.reviewSubHeader {
	font-family: 'Montserrat', sans-serif;
	padding-bottom: 2rem;
}

.reviewForm {
	display: flex;
	justify-content: center;
	background-color: whitesmoke;
	margin: 0 6rem 0 6em;
	border: grey 0.1rem solid;
}

.editReviewForm {
	align-content: center;
}

.editContent {
	font-family: 'Montserrat', sans-serif;
	text-align: center;
}

.reviewScores {
	display: flex;
	justify-content: flex-start;
	align-content: flex-end;
}

.reviewScoresAA {
	display: flex;
	justify-content: flex-start;
	flex-flow: column wrap;
	flex-grow: 1;
}

.reviewScoresFM {
	display: flex;
	align-self: center;
	flex-flow: column wrap;
	flex-grow: 2;
}

.reviewInputs {
	padding-top: 1rem;
	display: flex;
	flex-basis: 50%;
	justify-content: center;
	flex-flow: column wrap;
}

.reviewButtons {
	display: flex;
	justify-content: center;
	margin-top: 2rem;
}

.beerDescription {
	padding-bottom: 2rem;
}

.postHeader {
	text-align: center;
	font-family: 'Dancing Script', cursive;
	font-size: 3rem;
	padding: 2rem 0 2rem 0;
}

.postForm {
	display: flex;
	justify-content: center;
	background-color: whitesmoke;
	margin: 0 6rem 0 6em;
	border: grey 0.1rem solid;
	padding-bottom: 2rem;
}

.postInputs {
	display: flex;
	flex-flow: column;
}
.postButtons {
	display: flex;
	justify-content: center;
	margin-top: 2rem;
}

.reviewShow {
	text-align: center;
	display: flex;
	flex-flow: column wrap;
	background-color: whitesmoke;
	justify-content: center;
	margin: 0 6rem 0 6em;
	border: grey 0.1rem solid;
	font-family: 'Montserrat', sans-serif;
}

.breweryInfo {
	align-self: center;
}

.scores {
	align-self: center;
	display: flex;
	flex-flow: column wrap;
	padding-top: 2rem;
}

.hr1 {
	border: 0;
	height: 1px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.hr2 {
	border: 0;
	height: 1px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.25), rgba(255, 0, 0, 0));
}

.reviewDescription {
	align-self: center;
	padding: 2rem 0 2rem 0;
}

.postShow {
	margin-top: 10rem;
	display: flex;
	justify-content: center;
	background-color: whitesmoke;
	margin: 0 6rem 0 6em;
	border: grey 0.1rem solid;
	padding-bottom: 2rem;
}

.postContent {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.25rem;
}

.comments {
	text-align: center;
	padding-top: 2rem;
}

.follower {
	font-family: 'Montserrat', sans-serif;
}

.discover {
	text-align: center;
}

.discoverHeader {
	font-family: 'Dancing Script', cursive;
	font-size: 2.25rem;
}

.breweryCards {
	padding-top: 2rem;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.brewCard {
	width: 100% !important;
	text-align: center;
}

.smallHeader {
	text-align: center;
	font-family: 'Dancing Script', cursive;
	font-size: 2rem;
}

.followForm {
	text-align: center;
}

.showUser {
	text-align: center;
}

.showUserHeader {
	text-align: center;
	font-family: 'Dancing Script', sans-serif;
	font-size: 3rem;
	padding-top: 2rem;
}

.userTop {
	padding-bottom: 3rem;
}

.userName {
	font-family: 'Montserrat', sans-serif;
}
.followButtons {
	padding-bottom: 3rem;
	display: flex;
	justify-content: center;
}

.settings {
	text-align: center;
}

.settingsHeader {
	text-align: center;
	font-family: 'Dancing Script', sans-serif;
	font-size: 3rem;
}

.settingsButton {
	padding-bottom: 2rem;
}

.settingsContent {
	display: flex;
	justify-content: center;
}
.contactHeader {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding-bottom: 1rem;
	padding-top: 3rem;
}

.contactFont {
	font-family: 'Dancing Script', sans-serif;
	font-size: 3rem;
}

.subHeader {
	display: flex;
	justify-content: center;
	padding-bottom: 4rem;
	font-style: italic;
	color: gray;
}

.self {
	width: 20rem;
	height: 20rem;
	border-radius: 25%;
	padding: .1rem;
	border: .1rem solid lightgrey;
	transform: rotate(90deg);
}

.info {
	text-align: center;
}

.occupation {
	color: gray;
}
